.App {
  text-align: center;
}

.Impact-logo {
  width: 350px;
  height: auto;
}

.App-header {
  background-color: black;
  height: 175px;
  width: 100%;
  color: white;
}

.App-title {
  font-size: 85px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: space-around;
}

.LikeButton {
  margin: 10px;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  padding: 0px;
  background: black;
}

.ui.secondary.inverted.pointing.menu {
  border-width: 0px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.ui.grid>.column:only-child, .ui.grid>.row>.column:only-child {
  padding-top: 0px;
}

.Slideshow {
  margin: 0 auto;
  padding: 10px 40px;
  background-color: #ff4757;
}

.Imageslide {
  margin: auto;
}

.ui.secondary.menu {
  justify-content: center;
}